.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }

#foto {
   width:100%;
   min-width:100%;
   max-width:100;
   opacity: 50%;
}