<mat-toolbar color="primary" [class.mat-elevation-z6]=true>

  <mat-icon>wb_sunny</mat-icon>
  <span style="margin-left: 10px;">Climate History</span>

  <span class="fill-remaining-space"></span>

  <button mat-raised-button *ngIf="!loggedIn" style="background-color: #DD4B39; color: white;" (click)="signInWithGoogle()">{{message}}</button>
  <button mat-raised-button *ngIf="loggedIn" style="background-color: #DD4B39; color: white;" (click)="signOut()">Cerrar Sesión</button>
  
</mat-toolbar>

<br><br>

<app-table *ngIf="loggedIn"></app-table>

<router-outlet></router-outlet>