<mat-toolbar color="primary" [class.mat-elevation-z6]=true style="position: fixed; top: 0;">

  <mat-icon>wb_sunny</mat-icon>
  <span style="margin-left: 10px;">Climate History</span>

  <span class="fill-remaining-space"></span>

  <button mat-raised-button *ngIf="!loggedIn" style="background-color: #DD4B39; color: white;" (click)="signInWithGoogle()">{{message}}</button>
  <button mat-raised-button *ngIf="loggedIn" style="background-color: #DD4B39; color: white;" (click)="signOut()">Cerrar Sesión</button>
  
</mat-toolbar>

<div *ngIf="!loggedIn" id="home">

  <br><br><br><br>
  
  <div>

    <h2 align="center" id="title">Monitorea los sensores y enterate del estado del clima!</h2>

  </div>
</div>

<div *ngIf="loggedIn">

  <br><br><br><br>

  <app-table></app-table>
  
</div>

<router-outlet></router-outlet>